registry=https://artifactory-proxy.klarna.net/artifactory/api/npm/v-npm-production/
disturl=https://artifactory.klarna.net/artifactory/r-generic-nodejs/

sentrycli_cdnurl=https://artifactory-proxy.klarna.net/artifactory/r-generic-github-releases/getsentry/sentry-cli/releases/download
chromedriver_cdnurl=https://artifactory-proxy.klarna.net/artifactory/api/npm/v-npm-production/r-generic-chromedriver/
chromedriver_skip_install=1
